body{
  font-size: 10pt;
  font-family: Arial;
}

h1{
	font-size: 20pt;
}

h2{
  font-size:14pt;
}

div.gt_column_spanner {
      border-bottom-color: White !important; 
      border-bottom-width: 2px !important;
    }
    
pre {
  font-family: Arial;
  font-size: 10pt;
}

.gt_table .gt_table_body {
  font-size: 10pt;
}

.gt_table .gt_table_labels {
  font-size: 11pt;
}

.gt_table .gt_table_title {
  font-size: 13pt;
}

.gt_table .gt_table_subtitle {
  font-size: 12pt;
}